* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

nav,
ul,
.menu {
  min-height: 88vh;
}

.menu {
  padding-top: 6vh;
  padding-bottom: 6vh;
  position: fixed;
  width: 8vw;
  right: 0;
  background-color: #E8DFCA;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 1.4em;
  flex-direction: column;
}

.box a {
  color: #f57e9a;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
}

.box a:hover {
  color: #f57e9a;
  background-color: #f57e9a;
  color: #E8DFCA;
}

.main {
  background-color: #f8f4eb;
  margin-right: 8vw;
  font-size: 1.4em; /* Increased text to enable scrolling */
  padding: 4vh 4vw 4vh 4vw;
}

h3 {
  color: #f57e9a;
  position: relative;
  padding-top: 4vh;
  padding-bottom: 1vh;
  font-weight: 900;
}

p {
  color: #49444b;
  padding: 0.6vh 0 0.6vh 2vw;
}

p b {
  color: #7895B2;
}

/* Mobile Screen width 
@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    padding-left: 15px;
  }

  .sidebar .sidenav a {
    font-size: 0.7em;
  }
}
*/
